@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Bem-Vindo</h2>
    <p class="lead">Este Projeto Teste tem como objetivo cadastrar/editar/excluir/pesquisar contatos de uma agenda telefônica.</p>
    <div class="btn btn-primary btn-lg">Iniciar &raquo;
        @Html.ActionLink("Contatos", "Index", "Contatos")
    </div>
</div>

